
<h3>Nice to meet you</h3>
<mat-card>
<p> Enter your email and choose a password</p>
<form #userForm="ngForm" (ngSubmit)="onSubmit()">
<div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Enter your email" [(ngModel)] = "email"
       name = "email"
       required #spy 
       #userEmail = "ngModel">
             <mat-error *ngIf="!(userEmail.valid || userEmail.pristine)">
                  Email is required
                   </mat-error>                        
    </mat-form-field>
  </div>
  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'"  [(ngModel)] = "password"
               name = "password"
               required #spy>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field></div>

    <div class="alert" *ngIf = "auth.err">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
      {{auth.err}}
    </div>


    <div >
        <button mat-raised-button color="primary" type="submit" >Sign Up</button>
        <button mat-stroked-button color="warn" routerLink="/books" >Cancel</button> 
    </div>
</form>
</mat-card>
<!-- This is a comment-->