<mat-accordion>
    <mat-expansion-panel *ngFor = "let post of posts">
      <mat-expansion-panel-header >
          <mat-panel-title>
            {{post.id}}. {{post.title}}
          </mat-panel-title>
      </mat-expansion-panel-header>
            {{post.body}}
            <br><br>
           
            <div *ngFor = "let comment of comments">
              <div *ngIf = "comment.postId== post.id;other">
              Comment: {{comment.name}}
            </div>
          </div>

          <div ng-controller="myCtrl">
            <button mat-raised-button color="primary" (click)="myFunc()">Save to firestore</button>
            <p>{{ans}}</p>
        </div>

    </mat-expansion-panel>
    
  </mat-accordion>